*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    padding: 1rem;
}
